<form (submit)="searchFermata()">
    <input
      type="search"
      placeholder="Numero fermata..."
      [(ngModel)]="searchTerm"
      name="searchTerm"
    />
    <button mat-button type="submit">
      <span class="material-symbols-outlined" (click)="searchFermata()">search</span>
    </button>
  
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0"
    />
  
    <div class="table-container" [class.open]="isTableOpen">
      <table>
        <thead>
          <tr>
            <th>Direzione</th>
            <th>Destinazione</th>
            <th>Arrivo</th>
            <th>Ritardo</th>
            <th>Nome Fermata</th>
            <th>Meteo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let fermata of fermate">
            <td>{{ fermata.direzione }}</td>
  
            <td>
              <ul>
                <ng-container *ngFor="let arrival of fermata.datiMezziFE">
                  <li>
                    <span>{{ arrival.destinazione }}</span>
                  </li>
                </ng-container>
              </ul>
            </td>
  
            <td>
              <ul class="arrivi-list">
                <ng-container *ngFor="let arrival of fermata.datiMezziFE">
                  <li
                    [ngClass]="{
                      missed: isArrivalTimeGreaterThanCurrentTime(arrival.orarioPrevisto, fermata.orarioAttuale)
                    }"
                    [ngStyle]="{
                      'background-color': getColorForIdMezzo(arrival.idMezzo)
                    }"
                  >
                    <span>{{ formatArrivalTime(arrival.orarioPrevisto) }}</span>
                  </li>
                </ng-container>
              </ul>
            </td>
  
            <td>
              <ul>
                <ng-container *ngFor="let arrival of fermata.datiMezziFE">
                  <li>
                    <span>{{ formatDelayTime(arrival.ritardo, arrival.orarioPrevisto) }}</span>
                  </li>
                </ng-container>
              </ul>
            </td>
  
            <td>{{ fermata.nomeFermata }}</td>
  
            <td>
              <ng-container [ngSwitch]="fermata.previsioneMeteo">
                <mat-icon *ngSwitchCase="'sole'">wb_sunny</mat-icon>
                <mat-icon *ngSwitchCase="'pioggia'">umbrella</mat-icon>
                <mat-icon *ngSwitchCase="'nuvolo'">wb_cloudy</mat-icon>
              </ng-container>
            </td>
  
            <td colspan="5" class="timebar-cell">
              <app-timebar
                [direction]="getDirection()"
                [searchTerm]="searchTerm"
                (colorMapping)="receiveColorMapping($event)"
                (selectedStop)="handleSelectedStop($event)"
              ></app-timebar>
            </td>
  
            <td class="card">
              Info:
              <p>➤ Direzione</p>
              <p>🟡🟢🟠 la metro è qui</p>
              <p>🟥 la metro è passata</p>
              <p>┄ la metro sta arrivando</p>
            </td>
  
            <td>{{ fermata.orarioAttuale }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
  