<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"https://hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory>
		<property name="hibernate.connection.charSet">UTF-8</property>
		<property
			name="hibernate.connection.provider_configuration_file_resource">hibernate.properties</property>
		<mapping class="db.entity.Fermata" />
		<mapping class="db.entity.Linea" />
		<mapping class="db.entity.Utente" />
		<mapping class="db.entity.Mezzo" />
		<mapping class="db.entity.Orario" />
		<mapping class="db.entity.Simulazione"/>
		<mapping class="db.entity.Corsa"/>
		<mapping class="db.entity.TestBuilder"/>
	</session-factory>
</hibernate-configuration>