<app-header></app-header>

<h2>Metro Linee e Fermate</h2>


<table>
  <thead>
    <tr>
      <th>Numero Fermata</th>
      <th>Nome Fermata</th>
      <th>Nome Linea</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fermata of metroData">
      <td>{{ fermata.numFermata }}</td>
      <td>{{ fermata.nome }}</td>
      <td>{{ fermata.nomeLinea }}</td>
      <td>
        <button (click)="deleteStop(fermata)">Delete</button>
        <button (click)="renameStop(fermata)">Rename</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Uncomment this section -->
<!-- 
<h2>Linea: {{ nomeLinea2 }}</h2>
<table>
  <thead>
    <tr>
      <th>Numero Fermata</th>
      <th>Nome Fermata</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fermata of metroData2">
      <td>{{ fermata.numFermata }}</td>
      <td>{{ fermata.nome }}</td>
      <td>{{ fermata.linea.nomeLinea }}</td>
      <td>
        <button (click)="deleteStop(fermata)">Delete</button>
        <button (click)="renameStop(fermata)">Rename</button>
      </td>
    </tr>
  </tbody>
</table>
-->

<!-- <h2>Linea: {{ nomeLineaBlu }}</h2>
<table>
  <thead>
    <tr>
      <th>Numero Fermata</th>
      <th>Nome Fermata</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let fermata of metroDataBlu">
      <td>{{ fermata.numFermata }}</td>
      <td>{{ fermata.nome }}</td>
      <td>{{ fermata.linea.nomeLinea }}</td>
      <td>
        <button (click)="deleteStop(fermata, 'metroDataBlu')">Delete</button>
        <button (click)="renameStop(fermata, 'metroData')">Rename</button>
      </td>
    </tr>
  </tbody>
</table> -->
