<app-header></app-header>


<h2>Metro Lines and Stops</h2>

<table>
  <thead>
    <tr>
      <th>Metro Line</th>
      <th>Stops</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let line of metroLines">
      <td>{{ line.nomeLinea }}</td>
      <td>
        <ul>
          <li *ngFor="let stop of line.fermate">
            {{ stop.nome }}

          </li>
        </ul>
      </td>
    </tr>
  </tbody>
</table>


<table>
    <thead>
      <tr>
        <th>Metro Lines</th>
        <th>Stop 1</th>
        <th>Stop 2</th>
        <th>Stop 3</th>
        <th>Stop 4</th>
        <th>Stop 5</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Linea Verde</td>
        <td>Dinegro</td>
        <td>Principe</td>
        <td>Darsena</td>
        <td>Corvetto</td>
        <td>Brignole</td>
      </tr>
      <tr>
        <td>Linea Blue</td>
        <td>Brignole</td>
        <td>Corvetto</td>
        <td>Darsena</td>
        <td>Principe</td>
        <td>Dinegro</td>
      </tr>
      <tr>
   
    </tbody>
  </table>
  