
<app-header></app-header>



  


<form (submit)="searchFermata()">
  <input type="search" placeholder="Numero fermata..." [(ngModel)]="searchTerm" name="searchTerm">
  <!-- <button type="submit">Search</button> -->
  <button mat-button type="submit">
    <span class="material-symbols-outlined" (click)="searchFermata()">search</span>
  </button>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  <div class="table-container" [class.open]="isTableOpen">
    <table>
      <thead>
        <tr>
          <th>Direzione</th>
          <th>Arrivo</th>
          <th>Meteo</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let fermata of fermate">
            <td>{{ fermata.direzione }}</td>
            <td>{{ fermata.tempo_arrivo }}</td>
            <td>{{ fermata.previsione_meteo }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</form>

<!-- subway -->
<div class="train">
  <div class="windows"></div>
  <div class="lights"></div>
</div>
<div class="rails">
  <div class="ties"></div>
  <div class="ties"></div>
  <div class="ties"></div>
</div>